<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.loginapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Interface1" />
        <activity android:name=".Interface2" />
        <activity android:name=".Interface4" />
        <activity android:name=".Interface21" />
        <activity android:name=".Interface22" />
        <activity android:name=".Interface23" />
        <activity android:name=".Interface24" />
        <activity android:name=".Interface25" />
        <activity android:name=".Interface26" />
        <activity android:name=".Interface27" />
        <activity android:name=".Interface28" />
        <activity android:name=".Interface29" />
        <activity android:name=".Interface210" />
        <activity android:name=".Interface211" />
        <activity android:name=".Interface212" />
        <activity android:name=".Interface213" />
        <activity android:name=".Interface214" />
        <activity android:name=".Interface215" />
        <activity android:name=".Interface216" />
        <activity android:name=".Interface217" />
        <activity android:name=".eye_but1" />
        <activity android:name=".eye_but2" />
        <activity android:name=".eye_but3" />
        <activity android:name=".eye_but4" />
        <activity android:name=".eye_but5" />
        <activity android:name=".eye_but6" />
        <activity android:name=".eye_but7" />
        <activity android:name=".eye_but8" />
        <activity android:name=".eye_but9" />
        <activity android:name=".eye_but10" />
        <activity android:name=".eye_but11" />
        <activity android:name=".eye_but12" />
        <activity android:name=".eye_but13" />
        <activity android:name=".eye_but14" />
        <activity android:name=".eye_but15" />
        <activity android:name=".eye_but16" />
        <activity android:name=".eye_but17" />
        <activity android:name=".eye_but18" />
        <activity android:name=".eye_but19" />
        <activity android:name=".eye_but20" />
        <activity android:name=".eye_but21" />
        <activity android:name=".eye_but22" />
        <activity android:name=".eye_but23" />
        <activity android:name=".eye_but24" />
        <activity android:name=".eye_but25" />
        <activity android:name=".oral_but1" />
        <activity android:name=".oral_but2" />
        <activity android:name=".oral_but3" />
        <activity android:name=".oral_but4" />
        <activity android:name=".oral_but5" />
        <activity android:name=".oral_but6" />
        <activity android:name=".oral_but7" />
        <activity android:name=".oral_but8" />
        <activity android:name=".oral_but9" />
        <activity android:name=".oral_but10" />
        <activity android:name=".oral_but11" />
        <activity android:name=".oral_but12" />
        <activity android:name=".oral_but13" />
        <activity android:name=".oral_but14" />
        <activity android:name=".oral_but15" />
        <activity android:name=".oral_but16" />
        <activity android:name=".oral_but17" />
        <activity android:name=".oral_but18" />
        <activity android:name=".oral_but19" />
        <activity android:name=".oral_but20" />
        <activity android:name=".oral_but21" />
        <activity android:name=".skin_but1" />
        <activity android:name=".skin_but2" />
        <activity android:name=".skin_but3" />
        <activity android:name=".skin_but4" />
        <activity android:name=".skin_but5" />
        <activity android:name=".skin_but6" />
        <activity android:name=".skin_but7" />
        <activity android:name=".skin_but8" />
        <activity android:name=".skin_but9" />
        <activity android:name=".skin_but10" />
        <activity android:name=".Interface31" />
        <activity android:name=".Interface32" />
        <activity android:name=".Interface33" />
        <activity android:name=".Interface34" />
        <activity android:name=".Interface35" />
        <activity android:name=".Interface36" />
        <activity android:name=".Interface37" />
        <activity android:name=".Interface38" />
        <activity android:name=".Interface39" />
        <activity android:name=".Interface03" />
        <activity android:name=".lung_but1" />
        <activity android:name=".lung_but2" />
        <activity android:name=".lung_but3" />
        <activity android:name=".lung_but4" />
        <activity android:name=".lung_but5" />
        <activity android:name=".bp_but1" />
        <activity android:name=".bp_but2" />
        <activity android:name=".stress_but1" />
        <activity android:name=".stress_but2" />
        <activity android:name=".stress_but3" />
        <activity android:name=".stress_but4" />
        <activity android:name=".stress_but5" />
        <activity android:name=".stress_but6" />
        <activity android:name=".stress_but7" />
        <activity android:name=".stress_but8" />
        <activity android:name=".nerve_but1" />
        <activity android:name=".nerve_but2" />
        <activity android:name=".nerve_but3" />
        <activity android:name=".nerve_but4" />
        <activity android:name=".nerve_but5" />
        <activity android:name=".nerve_but6" />
        <activity android:name=".beau_but1" />
        <activity android:name=".beau_but2" />
        <activity android:name=".beau_but3" />
        <activity android:name=".beau_but4" />
        <activity android:name=".beau_but5" />
        <activity android:name=".beau_but6" />
        <activity android:name=".beau_but7" />
        <activity android:name=".beau_but8" />
        <activity android:name=".beau_but9" />
        <activity android:name=".beau_but10" />
        <activity android:name=".ear_but1" />
        <activity android:name=".ear_but2" />
        <activity android:name=".ear_but3" />
        <activity android:name=".ear_but4" />
        <activity android:name=".ear_but5" />
        <activity android:name=".ear_but6" />
        <activity android:name=".ear_but7" />
        <activity android:name=".ear_but8" />
        <activity android:name=".diabetes_but1" />
        <activity android:name=".diabetes_but2" />
        <activity android:name=".diabetes_but3" />
        <activity android:name=".brain_but1" />
        <activity android:name=".brain_but2" />
        <activity android:name=".brain_but3" />
        <activity android:name=".brain_but4" />
        <activity android:name=".brain_but5" />
        <activity android:name=".brain_but6" />
        <activity android:name=".brain_but7" />
        <activity android:name=".brain_but8" />
        <activity android:name=".brain_but9" />
        <activity android:name=".brain_but10" />
        <activity android:name=".brain_but11" />
        <activity android:name=".arth_but1" />
        <activity android:name=".arth_but2" />
        <activity android:name=".arth_but3" />
        <activity android:name=".lung_but6" />
        <activity android:name=".hair_but1" />
        <activity android:name=".hair_but2" />
        <activity android:name=".hair_but3" />
        <activity android:name=".hair_but4" />
        <activity android:name=".hair_but5" />
        <activity android:name=".hair_but6" />
        <activity android:name=".hair_but7" />
        <activity android:name=".hair_but8" />
        <activity android:name=".hair_but9" />
        <activity android:name=".hair_but10" />
        <activity android:name=".interface41" />
        <activity android:name=".routine_but1" />
        <activity android:name=".routine_but2" />
        <activity android:name=".interface42" />
        <activity android:name=".interface43" />
        <activity android:name=".weight_but1" />
        <activity android:name=".weight_but2" />
        <activity
            android:name=".Login"
            android:noHistory="true" />
        <activity
            android:name=".Register"
            android:noHistory="true" />
        <activity android:name=".allergy_but1" />
        <activity android:name=".allergy_but2" />
        <activity android:name=".allergy_but3" />
        <activity android:name=".allergy_but4" />
        <activity android:name=".allergy_but6" />
        <activity android:name=".allergy_but7" />
        <activity android:name=".allergy_but8" />
        <activity android:name=".allergy_but9" />
        <activity android:name=".allergy_but10" />
        <activity android:name=".allergy_but11" />
        <activity android:name=".heart_but1" />
        <activity android:name=".heart_but2" />
        <activity android:name=".heart_but3" />
        <activity android:name=".heart_but4" />
        <activity android:name=".heart_but5" />
        <activity android:name=".heart_but7" />
        <activity android:name=".heart_but6" />
        <activity android:name=".heart_but8" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".MyActivity" />
        <activity android:name=".fem_but1" />
        <activity android:name=".fem_but2" />
        <activity android:name=".fem_but3" />
        <activity android:name=".fem_but4" />
        <activity android:name=".fem_but5" />
        <activity android:name=".fem_but6" />
        <activity android:name=".fem_but7" />
        <activity android:name=".fem_but8" />
        <activity android:name=".fem_but9" />
        <activity android:name=".fem_but10" />
        <activity android:name=".fem_but11" />
        <activity android:name=".fem_but12" />
        <activity android:name=".stom_but1" />
        <activity android:name=".stom_but2" />
        <activity android:name=".stom_but3" />
        <activity android:name=".stom_but4" />
        <activity android:name=".stom_but5" />
        <activity android:name=".stom_but6" />
        <activity android:name=".stom_but7" />
        <activity android:name=".stom_but8" />
        <activity android:name=".stom_but9" />
        <activity android:name=".recepies_but1" />
        <activity android:name=".recepies_but2" />
        <activity android:name=".recepies_but3" />
        <activity android:name=".recepies_but4"></activity>
    </application>

</manifest>
